<div class="navbar-lewagon p-2 m-2">
  <h1>Movie lists</h1>
</div>

<div class="container border p-2">
  <ul>
    <% @lists.each do |list| %>
    <li>
      <% if list.picture.attached? %>
      <%= cl_image_tag list.picture.key, height: 50, width: 50, crop: :fill %>
      <% end %>
      <%= link_to list.name, list_path(list) %>

    </li>
    <% end %>
  </ul>

  <%= link_to "New List", new_list_path %>
</div>
