  <div class="navbar-lewagon">
    <h1>Movies</h1>
  </div>

<div class="container">
  <ul>
    <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %> </li>
    <% end %>
  </ul>

  <%= link_to "New List", new_list_path %>
</div>
