<div class="navbar-lewagon p-2 m-2">
  <h1>Add a new List</h1>
</div>

<div class="container border p-2">
  <div class="p-2 m-2">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :picture, as: :file %>
      <%= f.input :name %>
      <%= f.button :submit%>
    <% end %>
  </div>
</div>
